body{
    background-color: aquamarine;
}

div.poster {
    background-color: antiquewhite;
    width:75%;
}

div.text {
    font-size: 70px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration-color: blueviolet;
    transition: 0.5;
}

/* rule 1  */

div.textx.one{
    font-size: 20px;
}

div.text.two {
    font-size: 50px;
}

div.text.three{
    font-size: 100px;
}

/* rule 2 */

div.text.a {
    color: blue;
}

div.text.b{
    color: rgb(88, 14, 76);
}

div.text.c{
    color: rgb(85, 170, 0);
}

/* rule 3 */

div.text.x{
    text-align: left;
}

div.text.y{
    text-align: right;
}

div.text.z{
    text-align: center;
}

div.small {
    font-size: 30px;
    text-decoration-color: bisque ;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}